<div class="book__detail">
  <div class="book__detail-title">
    <h2>{{book.title}}</h2>
    <hr />
    <div class="book__detail-author-vote">
      <app-user />
      <app-vote />
    </div>
    <div class="book__detail-cover-overall-info">
      <img
        [src]="book.cover_image"
        alt="Book cover"
        width="30%"
      />
      <div class="overal__rating">
          <app-book-overal-information [bookDetail]="book"/>
          <app-rating/>
      </div>
    </div>
    <div class="book__detail-description">
      <app-book-description-review [description]="book.description"></app-book-description-review>
    </div>
  </div>
</div>
