<div class="book__detail">
  <div class="book__detail-title">
    <h2>Review: Harry Potter and the Half - Blood Prince</h2>
    <hr />
    <div class="book__detail-author-vote">
      <app-user />
      <app-vote />
    </div>
    <div class="book__detail-cover-overall-info">
      <img
        src="https://play-lh.googleusercontent.com/BsTNbp2qk09yqmDkqNrbTZhq0uPT6x0B7L49jdCfUxFKGkLZlvJsrQnP7FSV8UDhjrQn"
        alt="Book cover"
      />
      <div class="overal__rating">
          <app-book-overal-information/>
          <app-rating/>
      </div>
    </div>

    <div class="book__detail-description">
      <app-book-description-review/>
    </div>
  </div>
</div>
