.header {
  height: 60px;
  &__row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    .header__user-icons{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .header__icons{
        text-align: center;
      }
    }
  }
}
