<mat-toolbar class="header">
  <mat-toolbar-row class="header__row">
    <div class="header__logo">
      <img src="/assets/images/my_book_logo.png" alt="logo ne" height="40"/>
      <h1>Readee</h1>
    </div>
    <div class="header__search-bar">
      <app-search-bar></app-search-bar>
    </div>
    <div class="header__user-icons">
      <div class="header__icon">
        <button mat-button>
          <mat-icon>favorite_border</mat-icon>
        </button>
      </div>
      <div class="header__icon">
        <button mat-button>
          <mat-icon>notifications</mat-icon>
        </button>
      </div>
      <div class="header__icon">
        <button mat-button>
          <mat-icon>card_membership</mat-icon>
        </button>
      </div>
      <div class="header__icon">
        <button mat-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
