<div class="most-interested__book">
  <div class="interest__book" *ngFor="let item of books">
    <div class="interest__book-cover">
      <img class="interest__book-cover-image" src="assets/images/cover.png" />
      <div class="interest__book-cover-background"></div>
    </div>
    <div class="interest__book-section">
      <div class="interest__book-section-content">
        <h3>Book Head</h3>
        <h6>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa elit
          lectus enim id euismod. Gravida at praesent aliquam, at natoque at
          leo.
        </h6>
        <button class="interest__book-section-button">Now Read</button>
      </div>
    </div>
  </div>
</div>
