.book__detail {
  width: calc(100% - 4rem);
  margin: auto;
  margin-top: 4rem;

  .horizontal--divider{
    width: 20px;
    background-color: black;
    height: 2px;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  &-title {
    width: 50%;
    margin: auto;
    text-align: center;
  }

  &-outlet{
    min-height: 1619px;
  }

  &-pagination{
    @include grid-display();
    margin: auto;

    &-count{
      text-align: center;
    }

    &-btn-right{
      margin-left: auto;
    }
  }
}
