<div class="book__detail">
  <div class="book__detail-title">
    <h1 class="title">Harry Potter and the Half - Blood Prince</h1>
    <h3 class="author">J.K. ROWLING</h3>
    <div class="horizontal--divider"></div>
  </div>
  <div class="book__detail-outlet">
    <router-outlet></router-outlet>
  </div>
  <div class="book__detail-pagination">
    <div>
      <button>Previous Page</button>
    </div>
    <div class="book__detail-pagination-count">
        <p>Page 1 of 100</p>
    </div>
    <div class="book__detail-pagination-btn-right">
      <button>Next Page</button>
    </div>
  </div>
</div>
