.rate {
  @include flex-display();

  &__stars {
    display: block;

    &-overal {
      @include flex-display();

      &-point {
        width: 10rem;
        text-align: center;
      }
    }

    &-detail-point{
      @include flex-display(null, center, center);
      width: 10rem;
    }

    &-icon{
      margin-right: 1rem
    }

    &-item {
      @include grid-display(1fr 1fr 1fr 1fr 1fr);
    }
  }
}
