.vote {
  display: block;
  margin-left: auto;
  text-align: center;
  height: 60px;

  p {
    margin: 0;
  }

  &__up, &__down {
    position: relative;
    margin: auto;
    width: 1rem;
    height: 1rem;
    background-image:
      linear-gradient(to bottom right, transparent 50%, $color07 0),
      linear-gradient(to top right, $color07 50%, transparent 0);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right;
  }

  &__down{
    transform: rotate(180deg);
  }
}
